@import './typography.scss';


p,
h1,
h2,
h3,
textarea {
    @extend .text;
}

h1 {
    @extend .text--large;
    color: $black-color;
}
h2 {
    @extend .text--big;
    color: $black-color;
}

p,
textarea {
    @extend .text--base;
    font-style: normal;
}

body {
    @extend .text--base;
    color: $dark-color;
    background-color: $background-color;
}


[class*=_container] {
    max-width: 991px;

}