.button{
    min-width: 100%;
    height: 100%;
    /* border-radius: 16px; */
    border: none;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 72, 72, 1);
    color:white
}

.button:hover {
    background-color: #ebebeb;
}

.button:active {
    
    background-color: white;
    color:rgba(244, 72, 72, 1);
}