.wrapper{

    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    opacity: 50%;
    min-width: 100px;
    height: auto;
}
.text{
    color: #808080;
}