@import '../../../styles/mixins';
@import '../../../styles/variables';


.wrapper {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    width: 100%;
    min-height: 100%;
   
    @include flexbox($direction: column,
        $justify: center,
        $align-items: center);
}

.logo {
    opacity: 50%;
    min-width: 100px;
    height: auto;
}

.logoMini  {
    
    width: 30px;
    height: auto;
}

.logoMini svg path {
    stroke: rgb(0, 17, 255);
}
.text {
    color: $grey-color;
}