.container,
.header,
.icon__container,
.user__information,
.username,
.last__visit,
.messages,
.nomessages,
.send__message,
.current__message,
.send__icon,
.arrowUp
{
    margin: 0;
    padding: 0;
}

.container {
    min-width: 100%;
    /* min-height: 100%; */
    /* 812px; */
    background-color: white;
    border-radius: 20px;
}
@media screen and (max-width: 420px) {
    .container  {
    
     /* min-height: 100vh; */
    min-width: 100vw;
    border-radius: 0px;
    }

} 
.header {
    padding: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #F4F4F4;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.author{
    margin-left: 16px;
}





