.about{
    /* width: 95%; */
    margin: 0 40px;
}

.input{
    display: block;
    /* width: 100vh; */
    /* min-height: 20vh; */
    min-height: 100%;
    border: none;
    text-align: left;
    word-break: break-word;
    outline: none;
    border: 5px solid #ccc;
    resize: none;
}
.text{
    width: 100%;
    /* min-height: 10vh; */
    /* height: 100%; */
    border: none;
    text-align: center;
    word-break: break-word;
    margin: 8px 0;
}