@import '../../styles/mixins';

#main {
    margin: 0 auto;
    min-height: 100vh;
    @include flexbox($justify: center);
    width: 100%;

    @media screen and (max-width: 700px) {
        min-height: 100%;
    }

}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0%;
    margin: 0% auto;
    min-height: 93vh;
    width: 100%;
    margin-top: 16px;
}

#left__area {
    min-height: 50vh;
    margin: 0%;
    padding: 0%;


}

@media screen and (max-width: 870px) {
    #left__area {
        display: none;
    }

    .container {
        display: flex;
        justify-content: center;
    }
}

#left__menu {
    height: 30vh;
    @include flexbox($direction: column, $justify: flex-start, $align-items: flex-start);

}



#main__area {
    width: 100%;
    margin: 0px;

}