.footer__wrapper{
    margin: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    transition-duration: 1.2s;
    transition-delay: 0.2s;
    transition-property: height, margin, display;
}

.camera, .cameraActive {
  
    transition-property: opacity, height ;
}
.camera {
    transition-duration: 1.5s;
    transition-delay: 0.5s;
    
}
.cameraActive {
    transition-duration: 1s;
    
   
}

.sendArea, .sendAreaActive{
   
    min-width: 90px;
    height: 40px;
    min-width: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
    
    transition-property: height opacity;
}
.sendArea{
   
    transition-delay: 0.2s;
    transition-duration: 1.5s;

}
.sendAreaActive{
   

    transition-duration: 1s;
   
}