.footer__wrapper{
    margin: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    transition-duration: 1.2s;
    transition-delay: 0.2s;
    transition-property: height, margin, display;
}

.camera__img, .camera__text{
    transition-duration: 3s;
    transition-delay: 1s;
    transition-property: opacity, height ;
}