.messages__area {


    margin: 0 auto;
    max-height: 100%;
    min-width: 100vh;
    display: flex;
    flex-direction: column;

}

.old_messages {
    position: relative;
    height: 86vh;
    overflow: auto;

}
.title{
    text-align: start;
    margin:  0 0 16px 0;
}