.item, .itemFocus {
    padding: 0 ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    min-width: 90%;
    border-radius: 16px;
    margin:  5px 0px;
 
}
.item p {
font-weight: 600;
}
