.item, .itemFocus {
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 16px;
 
}
.item p, .itemFocus p {
font-weight: 600;
}
.item{
    background-color: none;
    
} 
.itemFocus{
    /* height: 56px;
    width: 406px; */
    background-color: white;
    color: red;
    
    /* outline:1px solid red; */
    /* outline-offset:-1px; */
    /* border-width: 1px; */
}
.itemFocus p{
    color: red;
}