.menu {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    /* font-family: 'Inter', sans-serif; */
    padding: 0 16px;
    height: 40px;
    width: 100%;
    border-radius: 16px;
}

.name{
    margin: 15px ;
}

.icon, .iconRed {
    width: 24px;
    height: 24px;
    /* margin-right: 8px; */
}

.icon {
    /* opacity: 1000%; */
}

/* .item svg path{
    stroke: rgb(255, 0, 0);
    opacity: 100%;
} */
.iconRed path {
    stroke: rgb(255, 0, 0);

}

.active{
    color: red;

}
.activeItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: red;
    background-color: white;
    /* font-family: 'Inter', sans-serif; */
    padding: 0 16px;
    height: 40px;
    width: 100%;
    border-radius: 16px;
}