.menu {
 
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
  
    padding: 0 16px;
   
    height: 40px;
    width: 100%;
    border-radius: 16px;
}
.item svg path{
    stroke:  rgba(33, 33, 33, 1);


}

.name{
    margin: 15px ;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}



.activeItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color:  rgba(244, 72, 72, 1);

    background-color: white;
    /* font-family: 'Inter', sans-serif; */
    padding: 0 16px;
    height: 40px;
    width: 100%;
    border-radius: 16px;
}

.activeItem svg path{
    stroke: rgba(244, 72, 72, 1);

    opacity: 100%;
}