.frame {
    margin: 8px;
   
    padding: 16px;
    background-color: rgb(255, 255, 255);
    min-height: 185px;
    min-width: 199px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
@media screen and (max-width: 900px) {
    .frame {
        width: 75%;
    }

  }
  @media screen and (max-width: 600px) {
    .frame {
        width: 95%;
    }

  }

.icon__wrapper {
    margin: 0;
    padding: 0;
width: 68px;
height: 68px;

}

.login {
    color: rgb(0, 0, 0);
    text-decoration: none ;
   
}
.login p {
   
    font-weight: 600;
}

.follow__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

