.dialogs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: a;
}





@media screen and (max-width: 870px) {
    .dialogs {
        justify-content: center;
        align-items: center;
    }
   
  }
