.line__wrapper, .description, .link__container{
    margin: 0 auto;
    /* padding: 0; */
    width: 406px;
    display: block;
    text-align: center;
    align-self: center;
}
@media screen and (max-width: 520px) {
    .line__wrapper, .description, .link__container{
        width: 70vw;
    }
    .form__container, .line__wrapper{
       max-width: 79vw;
    }
    .line {
        width: 73vw;
    }
    .button__container{
        min-width:  73vw;
        width:  73vw;
    }
   
}
.line__wrapper{
    margin: 8px 0;
    padding: 0;
    width: 454px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.form__container{
    margin: 0 0 150px 0  ;
    padding: 24px 24px 24px 24px;
    /* height: 70vh;
    width: 90%;  */
    background-color: white;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 454px;
    /* height: 336px; */
}

.inputs__container{
    /* max-height:60vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.login
{
margin: 0;
    /* height: 288px; */
    min-width: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 0px 24px 24px 16px; */
}
.line{
    display: block;
    opacity: 50%;
    margin: 0;
    width: 428px;
}
.form__footer{
    display: flex;
    justify-content: space-around;
    /* align-items: flex-end; */
    flex-direction: column;
}

.footer__text{
    margin: 16px 0 0px  0;
}
.description{
    margin: 8px 0;
}

.link{
    text-decoration: none;
    color: red;
}

.button__container{
    margin: 8px 0;
    padding: 0 16px;
    height: 56px;
    min-width: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error{
    padding: 0;
    margin: 0;
    /* font-size: xx-small; */
    color: red;
}

.form__title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}