.left__menu__item {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 1vh;
}
.active{
    text-decoration: none;
    color: rgb(0, 238, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 1vh;
}