@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.user__wrapper {
    @include flexbox($justify: space-around);
}

/* .icon__wrapper {
    margin: 0;
    padding: 0;


} */

.user__info {
    margin-left: 16px;
    @include flexbox($direction: column, $justify: center)
}

.name {
    font-weight: 700;
    color: $black-text;
}

.name,
.date {
    margin: 0;
    padding: 0;
    text-align: start;
}

.date {
    opacity: 60%;
}