.wrapper {
    height: 65vh;
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.interior__wrapper {
    min-height: 100%;
    min-width: 100%;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.nomessages {
    width: auto;
    height: 45vh;
}
