.wrapper {
    height: 65vh;
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}


.nomessages {
    width: auto;
    height: 45vh;
}
