.about {
    /* width: 95%; */
    margin: 10px 38px;
}

.input, .inputError {
    display: block;
    /* width: 100vh; */
    /* min-height: 20vh; */
    min-height: 100%;
    border: none;
    text-align: left;
    word-break: break-word;
    outline: none;


    resize: none;
}

.input {
    border: 0.5px solid #ccc;
    border-radius: 20px;
    padding: 12px;
}

.inputError {
    border: 0.5px solid rgb(255, 0, 0);
}

.text {
    width: 100%;
    /* min-height: 10vh; */
    /* height: 100%; */
    border: none;
    text-align: center;
    word-break: break-word;
    margin: 8px 0;
}

.error {
    font-size: xx-small;
    color: red;
    padding: 0;
    margin: 0%;
    min-width: 90px;
}