// @import '../../../../../../styles/typography' ;

.about {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}


.input,
.inputError {
    display: block;
    min-height: 100%;
    border: none;
    text-align: left;
    word-break: break-word;
    outline: none;
    resize: none;
}

.input {
    width: 92%;
    margin: 0 auto;
    border: 0.5px solid #ccc;
    border-radius: 20px;
    padding: 12px;
}

.inputError {
    border: 0.5px solid rgb(255, 0, 0);
}

.text {
    // @extend .text--base--line;
    width: 100%;
    border: none;
    text-align: center;
    word-break: break-word;
    margin: 8px 0;
}

.error {
    font-size: xx-small;
    color: red;
    padding: 0;
    margin: 0%;
    min-width: 90px;
}