.container {
    min-width: 100%;
    min-height: 100vh;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
@media screen and (max-width: 900px) {
    .container {
        align-items: center;
        justify-content: center;
    }

  }
.title__container{
    margin:  0 ;
    
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

}
.pages{
    /* padding-right: 10px; */
    width: 100%;
    position: sticky;
    bottom: 0;
    margin: 0;
    background-color: white;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
    
}
.selectPage{
    font-weight: 700;
}
.pages span{
    cursor: pointer;
}
span{
    margin-right: 10px;
    cursor: pointer;
}

.span{
    font-weight: 100;
}