.wrapper {
    display: grid;
    grid-template-rows: 200px 100%;
    margin-left: 15px;
    margin-top: 10px;
}

.header {
    /* background-color: rgba(255, 255, 255, 0.548); */
    /* padding: 5px; */

    height: 100%;
    width: 100%;
}
.login__title{
    margin: 0;
    text-align: left;
}
.aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.aboutMe {
    text-align: left;
}

.posts__area {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 90%;
    
}
.post__title{
    text-align: left;

}