.container{
    margin: 16px 8px 0;
    padding: 16px;
    min-width: 80%;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}

.input{
    margin: 0 20px;
    height: 24px;
    width: 445px;
    /* background-color: white; */
    border: none;
    outline: none;
}

.sendArea{
    height: 24px;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sendArea p {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    opacity: 50%;
}
.sendArea img{
    cursor: pointer;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}