.frame{
    margin-top: 16px;
    /* padding: 0 16px; */
    width: 100%;
    /* height: 72px; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

@media screen and (max-width: 900px) {
    .frame {
        width: 95%;
    }


  }

 

.wrapper{
    
    margin: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-property: min-height;
}
.icon__wrapper{
    width: 40px; 
    height: 40px;
    margin: 0;
    padding: 0;
    /* margin-left: 16px; */
}
.left__area, .right__area, .left__areaActive{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-property: height opacity align-items;
    
}
.left__areaActive{
    align-items: flex-start;
    width: 100%;
}
.left__area{
    align-items: center;
    width: 80%;
    
}

.input, .inputActive{
    margin: 0 20px;
    min-height: 24px;
    max-height: 100vh;
   

    border: none;
    outline: none;
    transition-duration: 2s;
    transition-delay: 0.5s;
    transition-property: height;
}
.input{
    width:100%;
}
.inputActive{
    width:100%;
}


.camera__wrapper{
    min-width: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.camera__wrapper p {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    opacity: 50%;
}
.camera__wrapper img{
    
    margin: 0;
    margin-left: 10px;
    padding: 0;
}