.avatar {
    /* top: 88px; */
    background-color: rgba(244, 72, 72, 1);
    /* position: absolute; */
    border-style: solid;
    border-radius: 50%;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* background-position-x: 50%; */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.isActive {
    position: absolute;
    top: 70%;
    right: 0;
    
    background-color:  rgba(244, 72, 72, 1);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border-width: 2px;
    border: rgb(255, 255, 255) solid;
}

.initials {
    color: white;


}

.link {
    cursor: pointer;
    text-decoration: none;
}