.icon__container {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 11vh;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vh;
}

.icon{
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
}

.profile{
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
}