.icon__container {
    margin: 1px;
    padding: 0%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 9.3vh;
    height: 9.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.icon{
    margin: 0 1px;
    padding: 0%;
    border-radius: 50%;
    width: 9vh;
    height: 9vh;
}

.profile{
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
}