.icon__container {
    margin: 1px;
    padding: 0%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* position: relative; */

    /* transform: translate(-50%, -50%); */


}

.icon {
    margin: 0 1px;
    padding: 0%;
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.profile {
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
}