@import './modules/styles/reset.scss';
@import './modules/styles/_variables.scss';
@import './modules/styles/global.scss';
@import './modules/styles/typography.scss';

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $background-color;
 
}

.preloader__wrapper{
  height: 100vh;
}