@import './modules/styles/reset.scss';
@import './modules/styles/_variables.scss';
@import './modules/styles/global.scss';
@import './modules/styles/typography.scss';

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #F4F4F4;
}



// [class*=_container] {
//   max-width: 991px;

// }

// body {
//   background-color: '#F4F4F4';
// }