.container {
    padding: 16px;
    margin: 16px;
    width: 86.2%;
    /* min-width: 700px; */
    min-height: 30vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.icon__container{
    margin: 0;
    padding: 0;
    width: 68px;
    height: 68px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 16px 0;
}

.message__container {}

.img__container {}

.message {
    text-align: justify;
    margin: 0 0 12px;
}

.post__img {
    position: relative;
    /* max-height: 90vh; */
    width: 100%;
    border-radius: 20px;
}












.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 8px 24px; */
}
.actions__container{
    display: flex;
    flex-direction: row;
}
.action_button{
    margin: 0 8px 0 0 ;
    border: none;
    border-radius: 12px;
    width: 56px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action {
    /* margin: 0 0 0 8px; */
    padding: 0;
    /* border-color: white; */
    /* border-radius: 20px; */
    border: none;
}



.action_button:hover {
    color: aqua;
    filter: contrast(90%);
    cursor: pointer;

}

.views {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quantity, .icon {
    display: block;
    margin: 0px 5px;
    padding: 0;
    opacity: 50%;
}