.send__post {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */

}

.input__post {
    width: 70%;
    height: 4.5vh;
    margin-right: 15px;
}

